/*
$minSmall: "(min-width: 768px)";
$minLarge: "(min-width: 1200px)";*/

$maxMobile: "(max-width: 776px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 767px)";

$light-background-color: #edebef;
$main-title-color: #1a0e32;
$main-text-color: #6c6082;
$main-primary-btn: linear-gradient(to right, #f079b9, #201732);
$main-secondary-btn: #1a0e3e;

$dark-background-color: #0d0223;
$dark-title-color: #d1c0f1;
$dark-text-color: #a49bb3;
